[DASHBOARD]
ip_server = 192.168.15.160

[ESTACAO]
v_bat_min = 5
v_bat_max = 15
ghi1_min = 0
ghi1_max = 230
dhi_min = 0
dhi_max = 600
bni_min = 0
bni_max = 1200
old_min = 0
old_max = 1500
lwd_min = 0
lwd_max = 600
vento_vel_min = 0
vento_vel_max = 16
vento_dir_min = 0
vento_dir_max = 360
temp_ar_min = 0
temp_ar_max = 10
umidade_rel_min = -1
umidade_rel_max = 90
pressao_atm_min = 0
pressao_atm_max = 1100
chuva_acum_min = 0
chuva_acum_max = 50
cell_temp_min = 0
cell_temp_max = 999
cell_irrad_min = 0
cell_irrad_max = 999

[TERMOSTATOS]
temp_min = 80
temp_max = 100
num_sensores_alarm = 6
toggle_ativa_min = false

[SISTEMA]
ip_estacao_meteo = 172.18.0.1
port_estacao_meteo = 502
ip_termostatos = 172.18.0.1
port_termostatos = 503
ip_roteador = 127.0.0.1
port_roteador = 6065
ip_cam1 = 192.168.1.168
port_cam1 = 80
ip_cam2 = 192.168.1.167
port_cam2 = 80
ip_ventilador = 127.0.0.1
port_ventilador = 2502

[TEMPOS]
intervalo_gravacao_estacao_segundos = 60
intervalo_gravacao_termostatos_segundos = 30

[DASHBOARD_DISPLAY]
slot1 = v_bat
slot2 = ghi1
slot3 = chuva_acum
slot4 = vento_vel

